<h1>Home</h1>
<h2></h2>

<%= Time.now  %>
<%= 2+3  %>
<%= link_to "click here for contact page", contact_path, class:'btn btn-primary'  %>
<%# la classe dans le lien ne va pas marcher car Bootstrap n'a pas installé %>
<%# link_to 'TEXT', path %>
